@mixin base-shadow {
    box-shadow: 2px 1px 8px -3px #000000;
}

.explorer{
    text-align: center;
    & h2{
        margin-top: 30px;
        font-size: 30px;
    }
    & p{
        font-size: 20px;
    }
    & button{
        color: white;
        font-weight: bold;
        font-size: 25px;
        padding: 1% 2%;
        border: none;
        background-image: linear-gradient(to top, #9356DC, #FF79DA);
        border-radius: 50px;
        transition: transform 200ms;
        margin-top: 40px;
        @include base-shadow;
    }
    & button:hover{
        transform: scale(1.02);
        opacity: 0.9;
    }
}