@mixin zoom {
    transform: scale(1.02);
}



.tuto {
    & ol {
        counter-reset: steps;
        display: flex;
        gap: 2rem;
        @media (max-width: 1000px) {
        flex-direction : column;
        }
    }    
        & li {
            position: relative;
            &::before{
                content: counter(steps);
                counter-increment: steps;
                color: white;
                background-color: #9356DC;
                width: 2rem;
                height: 2rem;
                display: grid;
                place-items: center;
                border-radius: 50%;
                position: absolute;
                bottom: 1rem;
                left: -1rem;
            }
        list-style-type: none;
        background-color: #F6F6F6;
        padding:1.5rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        @include base-shadow;
        &:hover{
            @include zoom;
        }
        & i.fas {
            margin-right: 1rem;
            color: lightgray;
            font-size: 1.5rem;
        }
    }
}


