@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 0rem;
}
@media (max-width: 900px) {
  main {
    padding: 0rem 0rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h3, p {
  margin: 0;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 3px 5px Grey;
  padding: 0.5%;
  margin: 0;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  background-color: #F3F3F3;
  text-align: center;
  padding: 5px;
}
.city i {
  font-size: 25px;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  font-size: 1.5rem;
}
.explorer p {
  font-size: 20px;
}
.explorer button {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 1.3rem 2rem;
  border: none;
  border-radius: 50px;
  transition: transform 200ms;
  margin-top: 40px;
  box-shadow: 2px 1px 8px -3px #000000;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.tuto h2 {
  margin-left: 1rem;
}

.tuto ol {
  counter-reset: steps;
  margin-bottom: 2rem;
  margin-right: 2rem;
  display: flex;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #F6F6F6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #000000;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1rem;
}
.tuto li:hover {
  transform: scale(1.02);
}
.tuto li i.fas {
  margin-right: 1rem;
  color: grey;
  font-size: 1.5rem;
}

.name-resto {
  background-color: #F6F6F6;
  margin-bottom: 2rem;
}
.name-resto h2 {
  padding: 2rem 0;
  margin: 1rem 1rem;
}
.name-resto .menus__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  padding-bottom: 2rem;
  margin-bottom: -2rem;
  gap: 2rem;
}
@media (max-width: 900px) {
  .name-resto .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.name-resto .menus__cards .new {
  position: relative;
}
.name-resto .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.name-resto .card__image {
  height: 15rem;
  border-radius: 1rem 1rem 0rem 0rem;
  background-size: cover;
}
.name-resto .card__image-1 {
  background-image: url(images/restaurants/menu_restaurant_1.jpg);
}
.name-resto .card__image-2 {
  background-image: url(images/restaurants/menu_restaurant_2.jpg);
}
.name-resto .card__image-3 {
  background-image: url(images/restaurants/menu_restaurant_3.jpg);
}
.name-resto .card__image-4 {
  background-image: url(images/restaurants/menu_restaurant_4.jpg);
}
.name-resto .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
.name-resto .card__description h3,
.name-resto .card__description p {
  padding: 0.3rem;
}
.name-resto .card__description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.name-resto .card__description .fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.name-resto .card__description:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

footer {
  background-color: #353535;
  color: white;
  padding: 1rem 2rem;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
}
footer p {
  padding: 0.2rem;
}

body {
  background-color: #F6F6F6;
}

.banner img {
  display: block;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center bottom;
}

.main {
  padding: 1px 0px;
}

.resto__main {
  background-color: white;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  margin-top: -3rem;
}
.resto__main h2 {
  font-family: "Shrikhand", sans-serif;
  padding: 2rem 1rem;
}
.resto__main i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 20%;
}
.resto__main .fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.resto__main:hover .fas {
  opacity: 1;
  transform: scale(1.2);
}

.menu-resto {
  margin: 1rem;
  background-color: #F6F6F6;
}

.menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 900px) {
  .menus {
    grid-template-columns: 1fr;
  }
}
.menus .menus__category {
  overflow: hidden;
  border-radius: 1rem;
  gap: 2rem;
}
.menus .menus__category .menu-items {
  display: flex;
  background-color: white;
  overflow: hidden;
  border-radius: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 1.5rem;
  box-shadow: 3px 3px 3px #353535;
}
.menus .menus__category .menu-items .menu-items__price {
  margin-left: auto;
  font-weight: bold;
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.menus .menus__category .menu-items .menu-items__description {
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus .menus__category .menu-items .menu-items__description h4,
.menus .menus__category .menu-items .menu-items__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus .menus__category .menu-items .menu-items__check {
  display: grid;
  place-items: center;
  /** création d'une variable locale OK en scss **/
  background-color: #99E2D0;
  margin-right: -3rem;
  width: 3rem;
  transition: margin-right 0.5s;
}
.menus .menus__category .menu-items .menu-items__check i {
  display: grid;
  place-items: center;
  background-color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  color: #99E2D0;
}
.menus .menus__category .menu-items:hover .menu-items__check {
  margin-right: 0;
}
.menus .menus__category .menu-items:hover i {
  animation: iconspin 0.5s ease-in-out;
}
@keyframes iconspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

/*# sourceMappingURL=style.css.map */
