img {
    max-width: 100%;
}


main {
    position: relative;
   h2 {
    padding: 1rem;
   }
   i {
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 20%;
    }

    .fas {
        color: transparent;
        background-image: linear-gradient($primaire, $secondaire);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms ease-in-out;
    }

    &:hover .fas {
        opacity: 1;
        transform: scale(1.2);
    }

}
 
